:root {
    --iq-body-text: rgb(51, 49, 49) !important;
}

.form-control {
    border: 1px solid rgb(163, 161, 161) !important;
}

.submit-button {
    background-color: green;
}

.search-button {
    margin-top: 35px !important;
}

.iq-sidebar {
    box-shadow: 0px 0px 13px 0px rgba(44, 101, 144, 0.6) !important;
    /* background-color: #f8f8f8; */
}

.iq-top-navbar {
    box-shadow: 0px 0px 13px 0px rgba(44, 101, 144, 0.6) !important;
    /* background-color: #f8f8f8; */
}

.iq-card{
    box-shadow: 0px 0px 3px 0px rgba(44, 101, 144, 0.5) !important; 
}

body{
    /* background-color: #f8f8f8; */
    background-color:#f3eeee;
}